/* ------ C O L O R S ------*/
$main-color-autmes: rgb(224, 38, 28);
$gray-non-active:rgb(102, 102, 102);
$border-color-dark: rgb(115, 115, 115);
$border-color-light: rgb(191, 191, 191);
$dark-active: rgb(0, 0, 0);
$section-color-first: rgb(241, 224, 222);
$section-color-second: rgb(255, 255, 255);
$hover-bg-color: darken($main-color-autmes, 10);
$text-color-gray: rgb(77, 77, 77);
$footer-color: rgb(58, 3, 58);
/* ------ S I Z E S ------*/
$standart-max-width: 1320px;
$text-container-width: 1250px;